*
{
    margin: 0px;
    padding: 0px;
}
.picw
{
    position: absolute;
    top: 25%;
    left: 5%;
    /* border: solid whitesmoke 1px; */
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 10px;
    background-color: orange;
}
.lable-pic
{
    position: absolute;
    top: 30%;
    left: 5%;
    font-weight: bold;
    font-size: 50px;
}
.pic-p
{
    position: absolute;
    top: 60%;
    left: 5%;
    color: gray;
    font-size: 20px;
}
/* Slider vegitable */
.alc
{
    align-items: center;
    text-align: center;
}
.owl-dots
{
    display: none;
}
/* Selection ? */

#lefts
{
    border-radius: 10px;
    background-image: url(/img/grocery-banner.png);
    background-size: cover;
    height: 180px;
    /* gap: 5px; */
    /* width: 49%; */
    /* margin-right: 2%; */
}
#rights
{
    border-radius: 10px;
    background-image: url(/img/grocery-banner-2.jpg);
    height: 180px;
    background-size: cover;
    /* width: 49%; */

}
.grosary-detail
{
    margin-top: -150px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.ga
{
    /* gap: 10px; */
}

 button
{
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

/*----------------------- Product Card css ------------------------------*/
.card  img 
{
    border-radius: 10px;
}
.rate-add
{
    align-items: center;
  
    
}
.price p 
{
    padding-top: 10px;
    width: 40px;
 height: 30px;

}
.but
{
    background-color: green;
    color: whitesmoke;
    border: none;
    text-align: center;
    height: 30px;
    width: 100px ;
    border-radius: 15px;
    padding-left: -5px;

}
.card:hover
{
    outline: solid 1.5px green;
   
    transition: all ease-in-out 0.5s;
}


/*---------------------- DAily best selling ------------------------- */
 #bck
{
    background-image: url(/img/cof.jpg);
    background-size: cover;
    
}
.bestsell
{
    /* width: 100%; */
    /* height: auto; */
    /* border: solid 1px black; */
    /* margin-bottom: 20px; */
   
    /* gap: 10px; */
}
.sellproduct
{
    /* outline: 1px rgb(188, 187, 187) solid; */
    /* border-radius: 15px; */
   

}
 .bestsell .sellproduct:hover 
{
    box-shadow: green 0px 5px 10px !important;
    transition: all ease-in-out 0.5s;
}
.partsell
{
    /* width: 100%; */
    height: 50%;
    /* outline: solid 1px black; */
}
.partsell button
{
    width: 90%;
    margin: auto;
    background-color: green;
    color: whitesmoke;
    height: 40px;
    border: none;
    border-radius: 15px;
}
.partsell #lighthe{
    margin-top: 25px;
}

/* BOx detail info */
.icon 
{
    margin-top: 20px !important;
    margin-bottom: 25px !important;
    color: green;
}


/* Footer */
footer
{
    background-color: gainsboro;
    /* height: 580px; */
    width: 100%;
    
}
.fbox
{
    /* width: 33.33% ; */
}
.fbox li 
{
    list-style: none;
    line-height: 35px;
}
.detailfooter
{
    width: 50% !important;
    /* height: 480px; */
    margin-top: 25px !important;
    float: left;
    margin: 0px;
}
.detailfooter ul a 
{
    text-decoration: none;
    color: #5c6c75;
    font-weight: 500;
}
.detailfooter li:hover a
{
    color: #088a08;
}
/* Footer */
 #appav 
{
    height: 30px;

}
.payment
{
    /* display: flex; */
    width: 100%;
}
.endof
{
    /* justify-content: end !important; */
}



/* ----------------------------------------------   Stores page  css ---------------------------------------------------*/

/* ----------------------------------------------  post header----------------------- */
.head-s
{
    background-color:#f0f3f2;
    border-radius: 15px;
    padding: 10px;
}
 h1
{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* margin-left: 10px   ; */
}
/* -------------------------------------------   Vendor store  ---------------------------------------------------- */

.col
{
    /* padding: 0px !important; ; */
}
.store
{
    border-radius: 15px;
    padding: 10px;
}
.store:hover
{
    outline: solid 1px green;
    transition: all ease-in-out 0.9s;
}
.store img 
{
    border-radius: 50%;
    height: 60%;

}
.store-de a
{
    text-decoration: none;
    color: #5c6c75;
 
}
.store-de 
{
    margin-top: -8px;
    margin-left: -10px !important;
}
 .store-de li 
{
    padding-right: 18px;
    color: #5c6c75;
    font-size: 12px;
}
.store p 
{
    margin-bottom: 15px;
    color: #5c6c75;
    font-weight: 400;
    font-size: 14px;
    margin-top: -12px;
}
.but-store  
{
    background-color: rgba(240, 243, 242);
    width:auto;
    display: inline-block;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: 600;
}
/* ----------------------store css page end  ---------- */

/* -----------Blog img  left------------------ */


.blogimg:hover img
{
    transform: scale(1.1);
    transition: all ease-in-out 0.7s;
    transition: all ease-out 0.7s;
}
.blogimg 
{
    overflow: hidden;
    transition: all ease-in-out 0.7s;
    transition: all ease-out 0.9s;
    border-radius: 15px;

}

/*  --------- Blog Detail  right      --------------- */

.blogdes
{
 margin-top: 80px;
}
.blogdetail
{
    padding-left: 40px;
}
.blogdate
{
    justify-content: space-between;
    padding-left:40px ;
}
/* -----------------------------blog recipi img ---------------------------------------- */
.resipiitem
{
    margin-bottom: 10px;
}
.resipiitem img
{
    width: 100%;
    
}
.resipiitemimg
{
    overflow: hidden;
    border-radius: 15px;
}
.resipiitemimg:hover img
{
    transform: scale(1.1);
    transition: all ease-in-out 0.7s;

}
/*---------------------- blog resipi img detail ------------ a tag not work-----*/  
.resipiitem  a:hover a
{
    color: #088a08 !important;
}
/* -------------------Blog PAge end -----------------*/

/* -------------------  About Page Start --------------------- */
.grow 
{
    background-color: #f0f3f2;
    padding-left: 50px;
    padding-right: 50px;
    /* height: 350px; */
  
}
.grow p
{
   text-align: justify;
}
/* Cutomer count  */

.customercount
{
    background-color: #198754;
    width: 100%;
}
/*----------------------------- Slider ------------------- */
.slide-bag 
{
    padding: 10px;
}
.bg-light
{
    --fc-bg-opacity:1;
    background-color: #f0f3f2!important;
}